.flex {
  display: flex;
  justify-content: center;
}

.flex.vertical {
  flex-direction: column;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.space-evenly {
  justify-content: space-evenly;
}
