@font-face {
  font-family: 'Press Start 2P';
  src: url('/fonts/PressStart2P-Regular.woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: #333;
  height: 5rem;
  color: #ddd;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

.left-side,
.right-side {
  width: 20%;
}

.laird {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 999;
  display: flex;
  height: 100px;
}

.laird .image {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 90px;
}

.laird .text {
  bottom: 4rem;
}

.grey {
  color: #888;
}
.green {
  color: #92cc41;
}

.icon {
  width: 16px;
  height: 16px;
  background-image: url('/images/tiles.png');
  background-position: -16px 0;
}

.buttons {
  float: right;
  clear: both;
}

.buttons button {
  margin-left: 1rem;
}

.building-container {
  width: 50%;
}

.resource-container {
  width: 100%;
}

.building {
  margin-bottom: 2rem;
}
